/problematicas/ejercicio01/nbproject/private/
/problematicas/ejercicio01/build/
/problematicas/ejercicio02/nbproject/private/
/problematicas/ejercicio02/build/
/problematicas/ejercicio03/nbproject/private/
/problematicas/ejercicio03/build/
